/* body{
    background-color: antiquewhite;
} */

/* #cv-form{
    display:none;
} */

#cv-template{
    display: none;
}
.myimg{
    border-radius: 200px;
    width:200px;
}

.background{
    background-color: aqua;
}
